body {
    background: #00b894;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin: 8px 0 8px 0;
}

p {
    margin: 0 8px 0 8px;
}

.card {
    width: 340px;
    height: 540px;
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px #00000070;
}

.avatar {
    background: #fdcb6e;
    transition: .6s;
}

.avatar:hover {
    background: #74b9ff;
    transition: .6s;
}

.icons {
    font-size: 32px;
}

.icons i {
    padding: 5px;
    transition: .6s;
}

.icons i:hover {
    transition: .6s;
    color: black;
    opacity: 1;
}

.html {
    color: #E63D21;
}

.css {
    color: #375AB8;
}

.js {
    color: #F8D800;
}

.node {
    color: #68E200;
}

.git {
    opacity: 0.5;
}

.wp {
    color: #467BA4;
}
